.upcoming-movies {
    background-color: #ff9999;
    padding: 8px;
    margin: 0px;
    font-size: 1rem;
    text-align: center;
}

.flex-container {
    display: flex;
    
}

.released-movies {
    width: 76%;
    margin: 16px;
    flex-direction: column;
}

.filter-section {
    width: 24%;
    margin: 16px;
}

.released-movies:hover {
    cursor: pointer;
}

.poster {
    max-width: 100vw;
    width: 100%;
    height: auto;
}

