.details-container {
    display: flex;
}

.left-section {
    width: 20%;
    margin: 0 20px;
    text-align: center;
}

.middle-section {
    width:60%;
    margin: 0 20px;
}

.right-section {
    width:20%;
}

.back-to-home {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
}

.back-to-home:hover {
    cursor: pointer;
}

.plot-text {
    margin-top: 16px;
}