.header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

@keyframes spinning {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

.header-logo-image {
    width: 50%;
}

.header-logo-image img {
    background-color: #ff7f7f;
    height: 35px;    
    animation: spinning 8s infinite linear;    
}

.header-btn {
    width: 50%;  
    display: flex;
    justify-content: end;
}

.required {
    /* display: none; */
    color: red;
}


.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.registration-success {
    display: block;
    margin: 10px 0;
    color:darkgreen;
}

.login-error {
    display: block;
    margin: 10px 0;
    color: crimson;
}



